body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}
.list-section {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.list-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.list-container {
    list-style: none;
    padding: 0;
}

.list-container li {
    
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.description {
    font-size: 18px;
    font-weight: bold;
    color: #293130;
}

a {
    text-decoration: none;
    color: #303d36;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #51f1a7;
    color: #fff;
}